<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>This is a bowling Alley</h1>
    <h2>You can bowl</h2>
    <p>You can have party at a bowling alley.</p>
  </body>
</html>